.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  /* width: 200px;
  height: 400px;
  overflow: auto; */

  
}

.img {
  width: 50px;
  height: 50px;
}

.card {
  background: white;
  border: 1px solid black;
  border-radius: .25rem;
  padding: .5rem;
  transform: translateX(100px);
  opacity: 0;
  transition: 150ms;
  color: black;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}

